{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Omkar Waikar</title>
    <link
      href="{% static '/css/main.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body" id="profile-text">
            <img
              id="profile-picture"
              src="{% static 'images/profilepicture.jpg' %}"
            />
            <hr />
            <h4>Omkar Ashok Waikar</h4>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body">
            <h5>PROFILE SUMMARY</h5>
            <hr />
            <p>
              Undergraduate Computer Engineer with 2+ years of experience
              working as an Oracle Certified Full-Stack Software Developer,
              currently pursuing a Master’s degree in Computer Science to expand
              my knowledge in Machine Learning models along with conducting
              research. Worked with various Non-profit organizations to
              volunteer and manage events.
            </p>
            <hr />
            <h5>CONTACT DETAILS</h5>
            <ul class="links">
              <i class="fa-solid fa-phone"
                ><li style="font-family: 'Roboto Thin'; font-size: 12pt">
                  &nbsp;(347)596-7648
                </li></i
              >
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-envelope"
                ><li style="font-family: 'Roboto Thin'; font-size: 12pt">
                  &nbsp;ow2130@nyu.edu
                </li></i
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fab fa-linkedin"
                ><b
                  ><li style="font-family: 'Roboto Thin'; font-size: 12pt">
                    &nbsp;omkar-waikar
                  </li></b
                ></i
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fab fa-github"
                ><b
                  ><li style="font-family: 'Roboto Thin'; font-size: 12pt">
                    &nbsp;omkar-waikar
                  </li></b
                ></i
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-map-marker"
                ><li style="font-family: 'Roboto Thin'; font-size: 12pt">
                  &nbsp;Brooklyn, New York
                </li></i
              >
            </ul>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body">
            <h5>EDUCATION</h5>
            <hr />
            <ul>
              <li>
                <b>New York University, Brooklyn, New York</b> - M.S. in
                Computer Science
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;
                Sep 2024 – Present
              </li>
              <br />
              <br />
              <li>Oracle Certified Professional: Java SE 11 Developer</li>
              <br />
              <li>Mar 2022</li>
              <br />
              <br />
              <li>
                <b>University of Mumbai, Mumbai, India</b> - B.E. in Computer
                Engineering &nbsp;&nbsp;&nbsp;||&nbsp; Aug 2016 – Oct 2020
              </li>
              <br />
              <br />
              <li>
                3x Secured 1st Place in Annual College Project Competition
              </li>
              <br />
              <li>2016, 2017, 2018</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body">
            <h5>TECHNICAL SKILLS</h5>
            <hr />
            <ul>
              <li>
                <b>Programming Languages:</b> Python, Java, Spring Boot,
                ReactJS, AngularJS, HTML, CSS, Oracle PL/SQL
              </li>
              <br />
              <br />
              <li>
                <b>Technologies:</b> Rest API, Micro-services, Machine Learning,
                Neural Networks, Big Data, Cloud Computing, DSA, DBMS
              </li>
              <br />
              <br />
              <li>
                <b>Analytical Skills:</b> Data cleaning, preparation, and
                visualization; extracting insights and identifying trends from
                complex datasets
              </li>
              <br />
              <br />
              <li>
                <b>Microsoft Tools:</b> Word, Excel, PowerPoint, Teams, Outlook,
                Visual Studio IDE
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <div class="card card-body">
            <h5>WORK EXPERIENCE</h5>
            <hr />
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                aria-current="true"
              >
                <b>Kiya.ai Mumbai, India </b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Associate Consultant
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Apr 2024 – Jul 2024
              </a>
              <a class="list-group-item list-group-item-action"
                >Development of Live Web applications using ReactJS and Java for
                Middle East and Southeast Asian clients in Banking domain.</a
              >
              <a class="list-group-item list-group-item-action"
                >Collaborate with product owners to understand new business
                requirements and model technical solutions to deliver
                projects.</a
              >
            </div>
            <br />
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                aria-current="true"
              >
                <b>LTIMindtree Ltd. Navi Mumbai, India</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Software Engineer
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Jan 2022 – Jan 2024
              </a>
              <a class="list-group-item list-group-item-action"
                >Java development in banking financial services/digital payments
                domain for clients all across Europe.</a
              >
              <a class="list-group-item list-group-item-action"
                >Extensive hands-on experience with REST API, Java 8, Spring
                Boot, AngularJs, and other deployment and server maintenance
                activities along with peer code review and resolving production
                incidents improving efficiency by 35%.</a
              >
              <a class="list-group-item list-group-item-action"
                >Performed peer code reviews to identify technical and logical
                errors and resolved production issues via incidents
                monitoring.</a
              >
            </div>
            <br />
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                aria-current="true"
              >
                <b>Media Nucleus Mumbai, India</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Web Development Intern
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Jun
                2019 – Jul 2019
              </a>
              <a class="list-group-item list-group-item-action"
                >Designed, built, and maintained websites using scripting
                languages, content creation tools, management tools, and digital
                media.</a
              >
              <a class="list-group-item list-group-item-action"
                >Development of web applications using HTML, CSS, and PHP.</a
              >
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <div class="card card-body">
            <h5>PROJECTS AND PUBLICATIONS</h5>
            <hr />
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                aria-current="true"
              >
                <b>Smart Agriculture System</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Android Studio, Image Processing, Neural Networks, IOT, Google
                Firebase
              </a>
              <a class="list-group-item list-group-item-action"
                >Developed a multilingual, user-friendly mobile application to
                help farmers manage their farms remotely via their mobile
                devices.</a
              >
              <a class="list-group-item list-group-item-action"
                >Different IoT sensors were used, to monitor soil water levels.
                Disease detection is implemented by Convolutional Neural
                Networks and Image processing using mobile camera to identify
                diseases in plants.</a
              >
            </div>
            <br />
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                aria-current="true"
              >
                <b>Advanced Travel Guide</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Java, Flutter, MySQL, Google Maps API
              </a>
              <a class="list-group-item list-group-item-action"
                >Designed a tourist application to encourage travel around
                cities and reduce the user’s time and effort to organize their
                trips.</a
              >
              <a class="list-group-item list-group-item-action"
                >The nearby tab of our application has a dropdown tab with all
                the essential commodities like Banks, Hotels, Transport, etc
                including how far they are from the user along with their
                ratings and directions.</a
              >
            </div>
            <br />
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                aria-current="true"
              >
                <b>Secure Chat System Using Steganography</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Python, Tkinter, PostgreSQL, MSB Image Steganography</a
              >
              <a class="list-group-item list-group-item-action"
                >Designed a web interface to transfer secret messages between
                parties without them being read by unwanted third parties.</a
              >
              <a class="list-group-item list-group-item-action"
                >The sender sends an image through an unsecured channel, along
                with the key and decryption algorithm through a secured chat.
                The receiver can use this to reveal the secret message. To an
                unwanted party, this looks like a normal image.</a
              >
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <div class="card card-body">
            <h5>EXTRA CURRICULAR ACTIVITIES</h5>
            <hr />
            <div class="list-group">
              <a
                class="list-group-item list-group-item-action active"
                aria-current="true"
              >
                <b>Event Executive Manager</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                Aawaaz Service Society ;&nbsp; Non-Profit Organization
                &nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Jun 2019 – Aug 2024
              </a>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
